<div class="container body-content user-edit">
    <div class="well">
        <h2>All Categories -
            <a href="/admin/category/create" class="btn btn-warning">Create New</a>
        </h2>
        <h1>Admin panel</h1>
        <div class="panel panel-default">
            <table class="table table-striped table-hover user-edit">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {{#each categories}}
                    <td class="num">{{ @key }}</td>
                    <td>{{ this.name }}</td>
                    <td>
                        <button type="button" onclick="location.href='/admin/category/edit/{{this._id}}';" class="btn btn-primary btn-xs"><i
                                class="fa fa-pencil-square-o"></i> Edit
                        </button>
                        <button type="button" onclick="location.href='/admin/category/delete/{{this._id}}'" class="btn btn-danger btn-xs"><i
                                class="fa fa-trash-o"></i> Delete
                        </button>
                    </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    let a = $(".num");
    for (let i = 0; i < a.length; i++) {
        a[i].innerText = i + 1;
    }
</script>